{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="doc-title">
    {% if tweet.text | length > 50 %}
    {{ (tweet.text[:49].strip().replace("\n", " ") + '...') }}
    {% else %}
    {{ tweet.text.strip().replace("\n", " ") }}
    {% endif %}
</div>
<div class="cited">
    <cite> <a href="{{ tweet.twitterUrl }}">Open in Twitter</a></cite>
</div>
<div class="doc-desc">
    Posted by {{ tweet.username }} on {{ tweet.date }}
</div>
<div class="doc-desc">
    {{ tweet.text }}
</div>
<div class="doc-desc">
    <a>
        <img src="{{ url_for('static', filename='twitter_like.png') }}"/>
        <span> <strong>{{ tweet.likes }}</strong> </span>
    </a>
    <a>
        <img src="{{ url_for('static', filename='twitter_retweet.png') }}"/>
        <span> <strong>{{ tweet.retweets }}</strong> </span>
    </a>
</div>
<div class="doc-desc">
    <strong>Hashtags:</strong> {% for hashtag in tweet.hashtags %} {{ hashtag }} {% endfor %}
</div>
{% endblock %}
