{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    Quick sample...
    <hr>
    {% for click in clicks_data %}
        <div class="pb-3">
            <div class="">
                tweet_id: {{ click.doc_id }}
            </div>
            <div class="">
                query used: {{click.query}}
            </div>
            <div class="">
                tweet ranked at pos: {{ click.pos }}
            </div>

        </div>

    {% endfor %}
{% endblock %}

